dist: bionic   # required for Python >= 3.7
language: python
python:
  - "2.7"
  - "3.6"
  - "3.6-dev"  # 3.6 development branch
  - "3.7"
  - "3.7-dev"  # 3.7 development branch
  - "3.8-dev"  # 3.8 development branch
  - "nightly"  # nightly build
script:
  - pytest
